@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    transition: all 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}
      
:root {
  --primary: #FFA500;
  --primary-dark: #c26d05;
  --background: #121212;
  --surface: #1E1E1E;
  --text-primary: #FFFFFF;
  --text-secondary: #A0A0A0;
}

* {
    margin:0px ;
    padding:0px;
    box-sizing: border-box ;
    font-family: inherit;
}

body {
  font-family: 'Vazirmatn', system-ui, sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
  direction: rtl;
}

.scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition: all 0.2s;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);

  &:hover {
    opacity: 0.9;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.input-field {
  background-color: var(--surface);
  color: white;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  border: 1px solid #4B5563;
  width: 100%;
  transition: all 0.2s;

  &:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.2);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.app-container {
  display: flex;
  height: 100dvh;
  overflow: hidden;
  font-family: 'Vazirmatn', system-ui, sans-serif;
}

.main-content {
  @include custom-scrollbar;
  background-color: var(--background);
  flex: 1;
  min-height: 100dvh;
  overflow: auto;
}

// Add these styles to customize notistack notifications
.SnackbarContent-root {
  font-family: 'Vazirmatn', system-ui, sans-serif !important;
  
  &.SnackbarItem-variantSuccess {
    background-color: #059669 !important;
  }
  
  &.SnackbarItem-variantError {
    background-color: #dc2626 !important;
  }
  
  &.SnackbarItem-variantInfo {
    background-color: #0284c7 !important;
  }
  
  &.SnackbarItem-variantWarning {
    background-color: #d97706 !important;
  }
} 